# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 2

# Place the opening brace on the same line (Allman -> K&R)
# which means that we're using K&R (Kernighan & Ritchie) style,
# instead of normal Allman (or BSD) style
csharp_new_line_before_open_brace = none
# csharp_preserve_single_line_statements = false
# csharp_preserve_single_line_blocks = false
resharper_csharp_place_attribute_on_same_line = never
resharper_csharp_indent_raw_literal_string = do_not_change